@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.cardContainer {
  @media (max-width: 640px) {
    text-align: center;
  }
  @media (max-width: 768px) {
    text-align: center;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  max-width: 60rem;
  position: relative;
  transition: all 0.3s ease;
  background-color: transparent;
  overflow: hidden;
  padding-top: 1rem;
  padding-bottom: 1rem;
  

  &:hover {
    .iconContainer, .textContainer {
      animation: float 2s ease-in-out infinite;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.iconContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 92px;
  transition: all 0.3s ease;
  border: 2px solid  ;
  
  



  .dark .card & {
    background-color: rgba(255, 255, 255, 0.05);
  }

  .dark .card:hover & {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.icon {
  font-size: 3rem;
  z-index: 1;
  color: #4a5568; // Gray icon
  transition: all 0.3s ease;

  .card:hover & {
    color: #000000; // Black icon on hover
  }

  .dark .card & {
    color: #e2e8f0; // Light gray icon for dark mode
  }

  .dark .card:hover & {
    color: #ffffff; // White icon on hover for dark mode
  }
}

.textContainer {
  order: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1rem;
  margin-right: 2rem;
  line-height: 1.5;
  text-align: center;
  transition: all 0.3s ease;

  @media (min-width: 768px) {
    text-align: left;
    
  }
}

.title {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #1a202c; // Dark gray text
  transition: all 0.3s ease;
  
  .dark & {
    color: #f7fafc; // White text for dark mode
  }

  .card:hover & {
    color: #000000; // Black text on hover
  }

  .dark .card:hover & {
    color: #ffffff; // White text on hover for dark mode
  }
  @media (max-width: 768px) {
    font-size: 22px;
    
  }
}

.description {
  margin-top: 0.5rem;
  font-weight: normal;
  color: #4a5568; // Gray text
  font-size: 1rem;
  transition: all 0.3s ease;

  .dark & {
    color: #e2e8f0; // Light gray text for dark mode
  }

  .card:hover & {
    color: #333333; // Dark gray text on hover
  }

  .dark .card:hover & {
    color: #e2e8f0; // Light gray text on hover for dark mode
  }
}
